<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VhostManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <VhostManager.Properties.Settings>
            <setting name="SshHost" serializeAs="String">
                <value>192.168.1.11</value>
            </setting>
            <setting name="SshUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="SshPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SshPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="AutoSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncDirection" serializeAs="String">
                <value>0</value>
            </setting>
        </VhostManager.Properties.Settings>
    </userSettings>
</configuration>
